Hello!<br>

<form action='/confirm_email' method='POST'>
  Recipients: <input type='text' name='Recipients'><br>
  From: <input type='text' name='From'><br>
  Multiple recipients can be separated with a comma.<br>
  Subject: <input type='text' name='Subject'><br>
  Body: <textarea name='Body'></textarea><br>
  <input type='submit' value='Submit'>
</form>